<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>-->
    <!--REST-->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--END REST-->
    <!--REST-->
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>vn.mobileid.id.general.api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.AdminServicesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assetServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.AssetServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.AccountServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.UserServiceController_V2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterpriseServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.EnterpriseServiceController_V2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>workflowActivityServlet</servlet-name>
        <servlet-class>vn.mobileid.id.general.api.WorkflowActivityServiceController_V2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resourcesLoad</servlet-name>
        <servlet-class>vn.mobileid.id.general.Resources</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>vn.mobileid.id.general.api.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/v2/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workflowActivityServlet</servlet-name>
        <url-pattern>/v1/workflowactivity/*</url-pattern>
        <url-pattern>/v2/workflowactivity/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterpriseServlet</servlet-name>
        <url-pattern>/v2/enterprise/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/v2/settings/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assetServlet</servlet-name>
        <url-pattern>/v1/asset/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <!--END REST-->
    <!--    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/error/HTTP400.html</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/error/HTTP401.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/error/HTTP403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/HTTP404.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/WEB-INF/error/HTTP405.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/HTTP500.html</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/WEB-INF/error/HTTP501.html</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/WEB-INF/error/HTTP502.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/WEB-INF/error/HTTP503.html</location>
    </error-page>
    <error-page>
        <error-code>520</error-code>
        <location>/WEB-INF/error/HTTP520.html</location>
    </error-page>
    <error-page>
        <error-code>521</error-code>
        <location>/WEB-INF/error/HTTP521.html</location>
    </error-page>
    <error-page>
        <error-code>533</error-code>
        <location>/WEB-INF/error/HTTP533.html</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>Selfcare</servlet-name>
        <url-pattern>/Selfcare</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>