<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="/opt/wildfly/paperless/log/paperless.log"
                    filePattern="/opt/wildfly/paperless/log/paperless.%d{yyyy-MM-dd-HH}.log">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
    </RollingFile>

    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.mkyong" level="ALL" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Root level="ALL">            
			<AppenderRef ref="LogToRollingFile"/>
        </Root>		
    </Loggers>
</Configuration>